I2C0x52-IR/eos-flow01.json
[{"id":"1dba92a7.d39b5d","type":"alexa-home","z":"b757a929.d38bf8","conf":"745172a0.40c10c","device":"24211","acknoledge":true,"name":"Lignt-Con","topic":"","x":65.18402099609375,"y":50.84375,"wires":[["84c1a16a.bc4f2"]]},{"id":"84c1a16a.bc4f2","type":"switch","z":"b757a929.d38bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":263.190975189209,"y":49.888893127441406,"wires":[["336aac06.431904"],["3e7edbfc.70dad4"]]},{"id":"336aac06.431904","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/light-on.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"照明電源On","x":487.1840286254883,"y":42.78125,"wires":[[],[],[]]},{"id":"3e7edbfc.70dad4","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/light-off.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"照明電源Off","x":487.190975189209,"y":95.78820323944092,"wires":[[],[],[]]},{"id":"9ad38cd0.e3bd7","type":"alexa-home","z":"b757a929.d38bf8","conf":"745172a0.40c10c","device":"24233","acknoledge":true,"name":"Tv-Con","topic":"","x":47.18055725097656,"y":172.1805648803711,"wires":[["2b8583f.8113e7c"]]},{"id":"2b8583f.8113e7c","type":"switch","z":"b757a929.d38bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"40","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":8,"x":255.19445419311523,"y":174.55904006958008,"wires":[["66593a80.7b94f4"],["8d438ae4.ba1428"],["2ce53923.9c0de6"],["b3d954b7.c5c438"],["89a493a1.162d2"],["7c594399.f2f00c"],["201fa5ac.6efa2a"],["1cff58b8.7d38d7"]]},{"id":"66593a80.7b94f4","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/tv-on.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"TV電源On","x":487.1875,"y":151.89584732055664,"wires":[[],[],[]]},{"id":"8d438ae4.ba1428","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/tv-off.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"TV電源Off","x":522.1840209960938,"y":204.90276908874512,"wires":[[],[],[]]},{"id":"2ce53923.9c0de6","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/tv-1ch.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"NHK","x":468.18050384521484,"y":261.8958406448364,"wires":[[],[],[]]},{"id":"b3d954b7.c5c438","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/tv-4ch.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"日テレ","x":465.1840286254883,"y":316.8993139266968,"wires":[[],[],[]]},{"id":"89a493a1.162d2","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/tv-6ch.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"TBS","x":466.1805229187012,"y":373.89931774139404,"wires":[[],[],[]]},{"id":"7c594399.f2f00c","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/tv-8ch.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"フジ","x":463.18750762939453,"y":431.902841091156,"wires":[[],[],[]]},{"id":"201fa5ac.6efa2a","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/tv-5ch.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"テレ朝","x":463.19444465637207,"y":483.8889102935791,"wires":[[],[],[]]},{"id":"1cff58b8.7d38d7","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/tv-7ch.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"テレ東","x":464.19097328186035,"y":541.8993339538574,"wires":[[],[],[]]},{"id":"a7ea5641.924428","type":"alexa-home","z":"b757a929.d38bf8","conf":"745172a0.40c10c","device":"24213","acknoledge":true,"name":"AirCon-Con（冷房）","topic":"","x":110.18402099609375,"y":622.2847671508789,"wires":[["a38843e6.74e7d"]]},{"id":"a38843e6.74e7d","type":"switch","z":"b757a929.d38bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":293.18751525878906,"y":623.6736221313477,"wires":[["5a60345a.4e651c"],["30d879d9.d3e6a6"]]},{"id":"5a60345a.4e651c","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/aircon-on-c25.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"エアコン電源On（冷房25℃）","x":537.1805572509766,"y":634.4548721313477,"wires":[[],[],[]]},{"id":"30d879d9.d3e6a6","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/aircon-off.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"エアコン電源Off","x":496.1909713745117,"y":693.4480209350586,"wires":[[],[],[]]},{"id":"36d59f10.6ebcf","type":"alexa-home","z":"b757a929.d38bf8","conf":"745172a0.40c10c","device":"24214","acknoledge":true,"name":"AirCon-Con（暖房）","topic":"","x":93.1875,"y":783.3958511352539,"wires":[["6f08cd0c.df2f34"]]},{"id":"6f08cd0c.df2f34","type":"switch","z":"b757a929.d38bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":288.18751525878906,"y":780.5486221313477,"wires":[["6ba928e.f73ebd8"],["30d879d9.d3e6a6"]]},{"id":"6ba928e.f73ebd8","type":"exec","z":"b757a929.d38bf8","command":"python3 /home/pi/I2C0x52-IR/IR-remocon03-dirbase.py t /home/pi/I2C0x52-IR/aircon-on-h22.data","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"エアコン電源On（暖房22℃）","x":528.1805229187012,"y":786.347264289856,"wires":[[],[],[]]},{"id":"745172a0.40c10c","type":"alexa-home-conf","z":"","username":"eijioura"}]